name: Check files

on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch: {}


env:
  GO_VERSION: '1.24.7'

jobs:
  check-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Check spelling with custom config file
        uses: crate-ci/typos@v1.38.1
        with:
          config: ./.github/typos.toml
      - name: Verify Mod
        run: make verify-mod
